body {
	background-color: lightgray;
	background-size: 100%;
}

.main-title {
	color: black;
}

.center-list {
	color: black;
	background: slategray;
	padding: 20px;
}

.center-list li {
	background: lightgray;
	margin: 5px;
}
